
.bg-cover {
    background-size: cover !important;
}
body {
    min-height: 100vh;
}
.jumbotron {
    background-image: url(../assets/macbookair.png);
    background-size: cover;
    height: 100%;
    background-position: center
}

.title{
    margin-top: 50px;
}
.go{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgb(181, 43, 43);
    border: gray solid 0px;
    color: white;
}